.card {
  padding: 10px;
  margin-top: 10px;
}

.button-style {
  margin-top: 5px;
}

.nav.navbar.bg-body-tertiary {
  background-color: darkkhaki !important;
  border: 10px solid gray;
}

.container-fluid.bg {
  border: 1px solid grey;
  padding: 5px;
}

.err-color {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}
